<html>
  <head>
    <title>{{ resume.name }}'s resume</title>
    <style type="text/css">
      {% include "ginseng.css" %}
    </style>
  </head>
  <body>
    <div id="resume">
      <header>
        <h1>{{ resume.name }}</h1>
        <h2>Resume</h2>
      </header>
      <section>
        <p>{{ resume.summary }}</p>
        <p>
          ⚛ <a href="{{ resume.website }}">{{ resume.website }}</a> — ✉
          <a href="mailto:{{ resume.email }}">{{ resume.email }}</a>
        </p>
      </section>
      <div class="content">
        <div class="column">
          <section>
            <h3>Videogames</h3>
            <section class="timeline">
              {% for videogame in resume.videogames %}
              <section
                class="{% if loop.first %}current{% endif %}"
              >
                <header>
                    <h4>{{ videogame.name }}</h4>
                    <span class="subtitle">
                      {{ videogame.type }} · {{ videogame.engine }} · 
                      {% for platform in videogame.platforms %}{{ platform }}{% if not loop.last %}/{% endif %}{% endfor %}
                    </span>
                    <span class="date">
                      {% for store in videogame.stores %}<a href="{{ store.link }}">{{ store.name }}</a> · {{ store.release_date }}{% if not loop.last %} / {% endif %}{% endfor %}
                    </span>
                </header>
                <section>
                  {% if videogame.summary %}
                  <p>{{ videogame.summary }}</p>
                  {% endif %}
                  {% if videogame.highlights %}
                  <ul class="highlights">
                    {% for highlight in videogame.highlights %}
                    <li>{{ highlight }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </section>
              </section>
              {% endfor %}
            </section>
          </section>
        </div>

        <div class="column">
          <section>
            <h3>Other experiences</h3>
            <section class="timeline">
              {% for experience in resume.experiences %}
              <section
                class="{% if loop.first %}current{% endif %}"
              >
                <header>
                  <h4>{{ experience.name }}</h4>
                  <span class="subtitle">{{ experience.provider }}</span>
                  <span class="date">
                    {{ experience.start_date | format_date("{month}/{year}")}}—{{ experience.end_date | format_date("{month}/{year}")}}
                  </span>
                </header>
                {% if experience.summary %}
                {{ experience.summary | markdown }}
                {% endif %}
                {% if experience.highlights %}
                <ul class="highlights">
                  {% for highlight in experience.highlights %}
                  <li>{{ highlight }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </section>
              {% endfor %}
            </section>
          </section>

          <section>
            <h3>Skills</h3>
            {% for skill in resume.skills %}
            <header><h4>{{ skill.category }}</h4></header>
            <ul class="skill-members">
              {% for member in skill.members %}
              <li>
                <span class="invisible"
                  >{% for i in range(5-member.level) %}◻{% endfor %}</span
                ><span class="level"
                  >{% for i in range(member.level) %}◼{% endfor %}</span
                ><span>{{ member.name}}</span>
              </li>
              {% endfor %}
            </ul>
            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
